ul {
    display: flex;
    padding: 5;
    align-items: center;
    justify-content: center;
}
li {
    list-style-type: none;
}

.panel img {
  padding: 25px;
  height: 50px;
  width: 50px;
}

.selected img {
  transform: scale(1.5, 1.5);
}
