ul {
    display: flex;
    padding: 5;
    align-items: center;
    justify-content: center;
}
li {
    list-style-type: none;
}

li button {
  padding: 25px;
}

.category {
  padding: 15px;
  text-align: center;
}
